In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../Data/simple_ml_analysis.csv")

In [3]:
df

         Date  Carrier_code  Flight_num  Origin  Dest  Distance  Is_Delay
0           0             0        3280     134    21     300.0         0
1           0             0        3281     233    85     596.0         0
2           0             0        3282     101    85     229.0         0
3           0             0        3283     337    21     223.0         0
4           0             0        3284      21   126     579.0         0
...       ...           ...         ...     ...   ...       ...       ...
7422032   364             3         846     210   334     989.0         1
7422033   364             3         854      92    46     399.0         0
7422034   364             3         860     261    46     280.0         0
7422035   364             3         861      46   317    1674.0         0
7422036   364             3         862     317    46    1674.0         0

[7422037 rows x 7 columns]

In [4]:
class_count_0, class_count_1 = df['Is_Delay'].value_counts()

In [6]:
# Separate class
class_0 = df[df['Is_Delay'] == 0]
class_1 = df[df['Is_Delay'] == 1]
# print the shape of the class
print('class 0:', class_0.shape)
print('class 1:', class_1.shape)

class 0: (6103946, 7)
class 1: (1318091, 7)

In [7]:
class_0_under = class_0.sample(class_count_1)

In [8]:
test_under = pd.concat([class_0_under, class_1], axis=0)

In [15]:
print("total class of 1 and 0:",test_under['Is_Delay'].value_counts())

total class of 1 and 0: 0    1318091
1    1318091
Name: Is_Delay, dtype: int64

In [12]:
test_under

         Date  Carrier_code  Flight_num  Origin  Dest  Distance  Is_Delay
6180971   303            12        5623     188   230     266.0         0
3300417   165             4        2821     315    21    2116.0         0
4248911   209             0        5247     348   233     792.0         0
5287139   259            14        1062     154   239    1642.0         0
275792     14            14        1491      36    89     587.0         0
...       ...           ...         ...     ...   ...       ...       ...
7422004   364             3         783      46   285     612.0         1
7422009   364             3         802     318   210    1931.0         1
7422011   364             3         805     115   123    1065.0         1
7422012   364             3         806     123   115    1065.0         1
7422032   364             3         846     210   334     989.0         1

[2636182 rows x 7 columns]

In [14]:
test_under.to_csv("../Data/simple_ml_analysis.csv", index=False)